In [1]:
from nba_api.stats.endpoints import playergamelogs
from nba_api.stats.static import players
import pandas as pd

In [2]:
from nba_api.stats.endpoints import playergamelog
from nba_api.stats.static import players

import pandas as pd

In [3]:
nba_players = players.find_players_by_full_name("Stephen Curry")
nba_players

[{'id': 201939,
  'full_name': 'Stephen Curry',
  'first_name': 'Stephen',
  'last_name': 'Curry',
  'is_active': True}]

In [4]:
player_id = nba_players[0]['id']
player_id

201939

In [5]:
gamelog = playergamelog.PlayerGameLog(
    player_id=player_id,
    season="2024-25"
)

df = gamelog.get_data_frames()[0]
df.head()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22024,201939,0022401198,"Apr 13, 2025",GSW vs. LAC,L,38,10,20,0.500,...,2,3,6,2,0,8,2,36,-16,1
1,22024,201939,0022401183,"Apr 11, 2025",GSW @ POR,W,27,6,14,0.429,...,4,5,5,0,1,1,2,14,8,1
2,22024,201939,0022401163,"Apr 09, 2025",GSW vs. SAS,L,37,12,24,0.500,...,6,8,3,2,0,1,0,30,13,1
3,22024,201939,0022401154,"Apr 08, 2025",GSW @ PHX,W,26,9,17,0.529,...,8,9,6,1,1,2,0,25,31,1
4,22024,201939,0022401143,"Apr 06, 2025",GSW vs. HOU,L,33,1,10,0.100,...,2,2,8,0,0,4,0,3,-4,1

In [6]:
df[['GAME_DATE', 'MIN', 'PTS', 'REB', 'AST']].head()

      GAME_DATE  MIN  PTS  REB  AST
0  Apr 13, 2025   38   36    3    6
1  Apr 11, 2025   27   14    5    5
2  Apr 09, 2025   37   30    8    3
3  Apr 08, 2025   26   25    9    6
4  Apr 06, 2025   33    3    2    8

In [7]:
df['MIN'].mean()

np.float64(32.128571428571426)

In [8]:
len(df)

70

In [9]:
from nba_api.stats.endpoints import leaguegamelog

In [10]:
full_gamelog = leaguegamelog.LeagueGameLog(
    season="2024-25",
    season_type_all_star="Regular Season",
    player_id_nullable=player_id
)

df_full = full_gamelog.get_data_frames()[0]
len(df_full)

TypeError: LeagueGameLog.__init__() got an unexpected keyword argument 'player_id_nullable'. Did you mean 'date_to_nullable'?

In [ ]:
from nba_api.stats.endpoints import leaguegamelog

full_gamelog = leaguegamelog.LeagueGameLog(
    season="2024-25",
    season_type_all_star="Regular Season"
)

df_all = full_gamelog.get_data_frames()[0]
len(df_all)

In [ ]:
from nba_api.stats.endpoints import playergamelogs

In [ ]:
logs = playergamelogs.PlayerGameLogs(
    season_nullable="2024-25",
    season_type_nullable="Regular Season"
)
df_logs = logs.get_data_frames()[0]
df_player = df_logs[df_logs["PLAYER_ID"] == player_id]
len(df_player), df_player[["GAME_DATE","MIN","PTS","REB","AST"]].head()

In [ ]:
df_player = df_player.copy()

df_player["GAME_DATE"] = pd.to_datetime(df_player["GAME_DATE"])
df_player = df_player.sort_values("GAME_DATE")

df_player[["GAME_DATE", "MIN", "PTS", "REB", "AST"]].head()

In [ ]:
df_player[["GAME_DATE", "MIN", "PTS", "REB", "AST"]].tail()

In [ ]:
len(df_player)

In [ ]:
df_player['MIN'].mean()

In [ ]:
assert len(df_player) == 70

In [ ]:
type(df_player)

In [ ]:
type(df_player)

In [ ]:
nba_players = players.find_players_by_full_name("Stephen Curry")
nba_players

In [ ]:
player_id = nba_players[0]["id"]
player_id

In [ ]:
logs = playergamelogs.PlayerGameLogs(
    season_nullable="2024-25",
    season_type_nullable="Regular Season"
)

df_logs = logs.get_data_frames()[0]
df_player = df_logs[df_logs["PLAYER_ID"] == player_id].copy()

len(df_player)

In [ ]:
df_player["GAME_DATE"] = pd.to_datetime(df_player["GAME_DATE"])
df_player = df_player.sort_values("GAME_DATE").reset_index(drop=True)

df_player.head()

In [ ]:
type(df_player)

In [ ]:
len(df_player)

In [ ]:
season_df = df_player.copy()
recent_df = df_player.tail(5)

season_df.shape, recent_df.shape

In [ ]:
stats_cols = ['MIN', 'PTS', 'REB', 'AST']

season_avg = season_df[stats_cols].mean()
recent_avg = recent_df[stats_cols].mean()

season_avg, recent_avg

In [ ]:
delta = recent_avg - season_avg
delta

In [ ]:
summary = pd.DataFrame({
    "season_avg": season_avg,
    "recent_avg_last5": recent_avg,
    "delta_last5_minus_season": delta
})

summary

In [ ]:
butler = players.find_players_by_full_name("Jimmy Butler")
butler

In [ ]:
butler_id = butler[0]["id"]
butler_id

In [ ]:
butler_games = df_logs[df_logs["PLAYER_ID"] == butler_id].copy()

butler_games["GAME_DATE"] = pd.to_datetime(butler_games["GAME_DATE"])
butler_game_dates = set(butler_games["GAME_DATE"])

len(butler_game_dates)

In [ ]:
with_butler = df_player[df_player["GAME_DATE"].isin(butler_game_dates)]
without_butler = df_player[~df_player["GAME_DATE"].isin(butler_game_dates)]

len(with_butler), len(without_butler)

In [ ]:
stats_cols = ["MIN", "PTS", "REB", "AST"]

with_avg = with_butler[stats_cols].mean()
without_avg = without_butler[stats_cols].mean()

with_avg, without_avg

In [ ]:
impact_delta = without_avg - with_avg
impact_delta

In [ ]:
impact_summary = pd.DataFrame({
    "with_butler_avg": with_avg,
    "without_butler_avg": without_avg,
    "delta_without_minus_with": impact_delta
})

impact_summary

In [11]:
podz = players.find_players_by_full_name("Brandin Podziemski")
podz

[{'id': 1641764,
  'full_name': 'Brandin Podziemski',
  'first_name': 'Brandin',
  'last_name': 'Podziemski',
  'is_active': True}]

In [12]:
podz_id = podz[0]["id"]
podz_id

1641764

In [13]:
logs = playergamelogs.PlayerGameLogs(
    season_nullable="2024-25",
    season_type_nullable="Regular Season"
)

df_logs = logs.get_data_frames()[0]

In [14]:
df_player = df_logs[df_logs["PLAYER_ID"] == podz_id].copy()
len(df_player)

64

In [15]:
df_player["GAME_DATE"] = pd.to_datetime(df_player["GAME_DATE"])
df_player = df_player.sort_values("GAME_DATE").reset_index(drop=True)

df_player[["GAME_DATE", "MIN", "PTS", "REB", "AST"]].head()

   GAME_DATE        MIN  PTS  REB  AST
0 2024-10-23  24.933333    0    7    4
1 2024-10-25  24.633333   15    5    1
2 2024-10-27  24.700000    4    5    4
3 2024-10-29  33.533333   19    3    5
4 2024-10-30  38.100000   13    8    7

In [16]:
curry = players.find_players_by_full_name("Stephen Curry")
curry_id = curry[0]["id"]
curry_id

201939

In [17]:
curry_games = df_logs[df_logs["PLAYER_ID"] == curry_id].copy()
curry_games["GAME_DATE"] = pd.to_datetime(curry_games["GAME_DATE"])

curry_game_dates = set(curry_games["GAME_DATE"])
len(curry_game_dates)

70

In [18]:
with_curry = df_player[df_player["GAME_DATE"].isin(curry_game_dates)]
without_curry = df_player[~df_player["GAME_DATE"].isin(curry_game_dates)]

len(with_curry), len(without_curry)

(54, 10)

In [19]:
stats_cols = ["MIN", "PTS", "REB", "AST"]

with_avg = with_curry[stats_cols].mean()
without_avg = without_curry[stats_cols].mean()

impact_delta = without_avg - with_avg

impact_summary = pd.DataFrame({
    "with_curry_avg": with_avg,
    "without_curry_avg": without_avg,
    "delta_without_minus_with": impact_delta
})

impact_summary

     with_curry_avg  without_curry_avg  delta_without_minus_with
MIN       25.595556          33.418833                  7.823278
PTS       11.166667          14.400000                  3.233333
REB        4.870370           6.200000                  1.329630
AST        3.222222           4.600000                  1.377778