In [1]:
import sys
from pathlib import Path

PROJECT_ROOT = Path.cwd().parents[0]  # notebooks/ -> repo root
if str(PROJECT_ROOT) not in sys.path:
    sys.path.append(str(PROJECT_ROOT))

print("Root:", PROJECT_ROOT)

Root: C:\Users\bo_co\ai-sports-competitive-intel\nba

In [2]:
from src.data_loader import load_default_2024_25
from src.radar import teammate_impact_local

In [3]:
df = load_default_2024_25()
df.shape, df.columns[:15]

((37727, 37),
 Index(['firstName', 'lastName', 'personId', 'GAME_ID', 'GAME_DATE',
        'TEAM_CITY', 'TEAM_NAME', 'opponentteamCity', 'opponentteamName',
        'gameType', 'gameLabel', 'gameSubLabel', 'seriesGameNumber', 'win',
        'home'],
       dtype='object'))

In [4]:
out = teammate_impact_local(
    df=df,
    player_name="Brandin Podziemski",
    teammate_name="Stephen Curry",
    min_games_without=5,
)
out

,with_teammate_avg,without_teammate_avg,delta_without_minus_with
MIN,26.476400,34.434286,7.957886
PTS,10.645570,13.285714,2.640145
REB,4.632911,6.428571,1.795660
AST,3.101266,5.000000,1.898734
N_GAMES_WITH,79.000000,7.000000,NaN